* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  /* color */
  --basic: #fff;
  --dark: #181818;
  --grey: #8b8b8b;
  --soft-grey: #afafaf;
  --primary: #6610a0;
  /* font family */
  --bebas: "Bebas Neue", sans-serif;
  --nunito: "Nunito", sans-serif;
}

html, body {
  font-family: var(--nunito);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bebas);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

/* Dark Modes */
.dark {
  background-color: var(--dark);
  color: var(--basic);
}

.dark a {
  color: var(--basic);
}

.dark nav {
  background-color: var(--dark);
}

/* main */

main {
  height: 100vh;
}

main aside {
  min-width: 300px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.6em;
  position: sticky;
  left: 0;
}

main aside a {
  color: var(--dark);
}

main aside .row {
  flex-direction: column;
  align-items: flex-start;
}

.navigation {
  width: inherit;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 0.5em; */
}

.navigation a {
  justify-content: flex-start;
  gap: 8px;
  width: inherit;
  padding: 0.8em;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  font-weight: 700;
}

.navigation a:hover {
  background-color: #c4c4c4;
}

.navigation a:focus {
  box-shadow: inset 2px -2px 5px rgba(0, 0, 0, 0.1);
  color: var(--primary) !important;
}

.card__mail {
  width: inherit;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: 0.1s ease-in-out;
}

.card__mail:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.card__mail a {
  margin-top: 1em;
  padding: 1em;
  justify-content: center;
  gap: 5px;
  width: inherit;
  border-radius: 10px;
  color: var(--basic);
  background-color: #6610a0;
}

.card__mail a span {
  display: block;
}

/* content */
.content {
  flex-grow: 1;
  width: inherit;
  height: 100%;
  overflow-y: scroll;
  align-self: flex-start;
}

.content nav {
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Nav */

nav {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: var(--basic);
}

nav .ham__btn {
  gap: 5px;
}

nav .ham__btn span:last-child {
  visibility: hidden;
}

nav label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--soft-grey);
  width: 56px;
  height: 30px;
  border-radius: 50px;
  padding: .1em;
}

nav label input {
  position: absolute;
  visibility: hidden;
}

nav label .ball {
  width: 25px;
  height: 25px;
  background: url(../assets/light-mode.png), no-repeat, center;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

nav label input:checked ~ .ball {
  transform: translateX(100%) rotate(360deg);
  background: url(../assets/dark-mode.png), no-repeat, center;
  border: none;
}

/* Jumbotron */

.jumbotron {
  width: inherit;
  height: 500px;
  background-color: #c5bcc0;
}

.jumbotron h1 {
  font-size: 3rem;
  font-family: var(--nunito);
}

.jumbotron p {
  font-size: 1.2rem;
  color: var(--grey);
}

.jumbotron .btn__friend {
  max-width: 150px;
  justify-content: center;
  gap: 8px;
  background-color: var(--primary);
  color: var(--basic);
  padding: 1em;
  margin-top: 2em;
  border-radius: 10px;
}

/* All Section */

section {
  padding: 5em 0;
}

section figcaption.title {
  text-align: center;
}

/* About */

.about .row {
  margin-top: 2em;
  position: relative;
  padding: 1em;
}

.about .row::after {
  content: '';
  width: 5px;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.experience {
  max-width: 48%;
  margin: 10px 0;
  padding: 1em;
  border-bottom: 5px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
  position: relative;
}

.experience ul {
  color: var(--grey);
  margin-top: 1em;
  margin-left: 1em;
  list-style-position:initial;
}

.experience ul li {
  margin: 10px 0;
}

.left {
  left: 0;
}

.right {
  left: 52%;
}

/* Portfolio */

.portfolio .row {
  margin-top: 2em;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 1.5em;
}

.card__porto .head__banner {
  border-radius: 10px;
  height: 250px;
  padding: 1em;
  align-items: flex-end;
  background: url(https://source.unsplash.com/1000x600?building), no-repeat, center;
  background-size: cover;
}

.card__porto .head__banner figcaption {
  visibility: hidden;
  color: var(--basic);
}

.title__banner {
  margin-top: 1em;
}

.title__banner .demo a {
  display: block;
  padding: .8em 1.2em;
  text-align: center;
  color: var(--basic);
  background-color: var(--primary);
  font-weight: 600;
  border-radius: 10px;
}
